.spinner-border {
    display: table;
    margin: 0 auto;
    margin-bottom: 3%;
}

.spinnerRow {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_sidebar {
    padding: 10px 5px 0 5px
}

.column_right {
    display: flex;
    justify-content: flex-end;
}

.row_padding {
    padding: 5px;
}

.custom_sidebar * {
    font-size: 0.9em;
}

i {
    font-size: 1.3em !important;
}

#yuuvis {
    margin: 0;
}

.folderTxt {
    margin-right: 1%;
    font-size: 15px;
}

.folderIs {
    margin-top: 4px;
}

.upload {
    margin-right: 1%;
    font-size: 15px;
}

.upCircle {
    margin-top: 5px;
}

.modal-content {
    background-color: #2C303A;
    color: white;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.yuButton {
    background-color: #e8198b;
    border: #e8198b;
}

.urlHeading {
    text-align: center;
    margin-top: 5px;
}