.spinner-border {
    display: table;
    margin: 0 auto;
    margin-bottom: 3%;
}

.spinnerRow {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_sidebar {
    padding: 10px 5px 0 5px
}

.column_right {
    display: flex;
    justify-content: flex-end;
}

.row_padding {
    padding: 5px;
}

.custom_sidebar * {
    font-size: 0.9em;
}

i {
    font-size: 1.3em !important;
}

#yuuvis {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas {
    position: absolute;
  }
