.monospaced {
    font-family: 'Overpass Mono', monospace;
}

.line {
    position: relative;
    border-top: 1px solid rgb(240,240,240);
    width: 307px;
    left: -79px;
    top: -5px;
}

.line_bottom {
    position: relative;
    border-top: 1px solid rgb(240,240,240);
    width: 307px;
    top: 49px;
    left: -79px;
}

.horizontal_line_bottom {
    position:relative;
    border-right: 1px solid rgb(240,240,240);
    width: 1px;
    height: 12px;
    top:49px;
    left: -21px;
}

.horizontal_line_top {
    position: relative;
    height: 12px;
    top: -5px;
    left: -23px;
    width: 1px;
    border-right: 1px solid rgb(240,240,240);
}

.selectedWerd {
    display: table;
    margin: 0 auto;
}